<div class="key"></div>
<p class="byline brandon">Wees één van de eerste</p>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :email, :placeholder => "Vul email in", :class => "email brandon" %>
  <input class="submit brandon" name="commit" type="submit" value="Kom binnen" />
<% end %>
