<div class="hero">
  <p class="large brandon">Studiate komt eraan</p>
  <p class="small brandon">Ontdek de nieuwe manier om je muziekpraktijk te dirigeren!</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>
